@{
    ViewData["Title"] = "Accueil";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/accueil.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title>Accueil</title>
</head>

<body>

    <div class="accueil">
        <div class="actus">
            <h2>Actualités</h2>
            <div class="articles">
                <a href="">
                    <div class="actus_article">
                        <h3>Titre de l'article</h3>
                        <p>Image de l'article</p>
                    </div>
                </a>
                <a href="">
                    <div class="actus_article">
                        <h3>Titre de l'article</h3>
                        <p>Image de l'article</p>
                    </div>
                </a>
                <a href="">
                    <div class="actus_article">
                        <h3>Titre de l'article</h3>
                        <p>Image de l'article</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="room_names">
            <a class="room_general" href="/Room/General">
                <h2>Général</h2>
            </a>
            <a class="room_commerce" href="/Room/Commerce">
                <h2>Commerce, Marketing, Digital, Communication</h2>
            </a>
            <a class="room_ressources" href="/Room/Ressources_humaines">
                <h2>Ressources Humaines</h2>
            </a>
            <a class="room_banque" href="/Room/Banque">
                <h2>Banque, Finance</h2>
            </a>
            <a class="room_gestion" href="/Room/Gestion">
                <h2>Gestion, Administratif</h2>
            </a>
            <a class="room_informatique" href="/Room/Informatique">
                <h2>Informatique</h2>
            </a>
        </div>
    </div>

</body>
